#app {
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
  }

  #app div {
  
      display: flex;
      justify-content: start;
      align-items: center;
    
  }
  
  .shell {
    float: left;
    height: 40px;
    width: 550px;
    border: 1px solid #aaa;
    border-radius: 13px;
    padding: 3px;
  }
  
  .bar {
    background: linear-gradient(to right, lighten(#84BC57, 10%) , lighten(#56ab2f, 10%));
    height: 30px;
    width: 15px;
    border-radius: 9px;
   
  }

  .bar span {
      float: right;
      padding: 4px;
      color: black;
      font-size: 0.7em;
      vertical-align: middle;
      text-align: center;

  }
  
  button {
    margin: 15px;
    border: 1px solid #aaa;
    background: none;
    border-radius: 9px;
    width: 100px;
    font-size: .5em;
    // padding:  2px, 2px, 2px, 2px;
    outline: none;
    cursor: pointer;
  }