.about {
    font-size: 4em;
    text-align: center;
    /* padding-left: 5px; */
    padding-top: 5px;
    font-family: 'Raleway';
    
  }
  
  .past {
    color: grey;
    font-size: 2em;
    text-align: center;
    /* padding-left: 5px; */
    padding-top: 5px;
    font-family: 'Raleway';
  }

  .stuff {
    font-size: 1em;
    text-align: center;
    /* padding-left: 5px; */
    padding-top: 20px;
    font-family: 'Raleway';
  }